<footer>
  <div class="pt-5 text-white pb-5" style="background-color: #111111;">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="footer-widget">
            <h3>About Us</h3>
            <p>
              Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua.
            </p>
            <span
              ><a href="#"
                >Read More &nbsp;<i class="fa fa-angle-double-right"></i></a
            ></span>
            <ul class="footer-social">
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="footer-widget">
            <h3>Information</h3>
            <ul>
              <li>
                <a routerLink="/about"
                  ><i class="fa fa-long-arrow-right"></i> &nbsp; About</a
                >
              </li>
              <li>
                <a routerLink="/fleet"
                  ><i class="fa fa-long-arrow-right"></i> &nbsp; Madaris</a
                >
              </li>
              <li>
                <a routerLink="/contact"
                  ><i class="fa fa-long-arrow-right"></i> &nbsp; Contact</a
                >
              </li>
              <li>
                <a
                  ><i class="fa fa-long-arrow-right"></i> &nbsp; Terms and
                  Conditions</a
                >
              </li>
              <li>
                <a routerLink="/contact"
                  ><i class="fa fa-long-arrow-right"></i> &nbsp; Contact</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="footer-widget">
            <h3>Have Questions?</h3>
            <div class="content-row">
              <div class="left-icon"><i class="fa fa-phone fa-2x"></i></div>
              <div class="right-content">
                <h6>Toll Free caling in world</h6>
                <p>808 - 111 - 9999</p>
              </div>
            </div>
            <div class="content-row">
              <div class="left-icon">
                <i class="fa fa-envelope fa-2x"></i>
              </div>
              <div class="right-content">
                <h6>Email Us</h6>
                <p><a href="#">md@abc.com.pk</a></p>
              </div>
            </div>
            <div class="content-row">
              <div class="left-icon">
                <i class="fa fa-map-marker fa-2x"></i>
              </div>
              <div class="right-content">
                <h6><a href="#">View On Map</a></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="privacy-container">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <p>Copy Rights 2020. Madrasah Management System</p>
        </div>
      </div>
    </div>
  </div>
</footer>
