<section id="about">
  <div
    style="
      padding-top: 150px;
      padding-bottom: 150px;
      background: url('/assets/img/about.jpg') center center;
    "
  >
    <div class="header-text mb-0">
      <div class="container">
        <h1 class="text-white">Madrasah Managment System</h1>
        <h5 class="text-white">
          Read about us, our company &amp; our passion!
        </h5>
      </div>
    </div>
  </div>
</section>
<section id="about" class="pt-5 pb-5" style="background-color: #f2f8ff;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <p class="lead">
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered by injected humour.
        </p>
        <p class="leading-Automatic">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less Automatic distribution
          of letters, as opposed to using 'Content here, content here', making
          it look like readable English. or randomised. Words which don't look
          even slightly believable. If you are going to use a passage of Lorem
          Ipsum, you need to as necessary All the Lorem Ipsum generators on the
          Internet tend to repeat. Neque porro quisquam est, qui dolorem ipsum
          quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
          eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
          voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
          ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
          consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate
          velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum
          fugiat quo voluptas nulla pariatur?"
        </p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <img src="/assets/img/about-lead.jpg" class="img-fluid shadow" />
      </div>
    </div>
  </div>
</section>
