<nz-table #basicTable [nzData]="dataSet" [nzLoading]="loading">
  <thead>
    <tr>
      <th>Madrasa Name</th>
      <th>Head Name</th>
      <th>Location</th>
      <th>Registration Date</th>
      <th>Registration Number</th>
      <th>Phone</th>
      <th>Description</th>
      <th>Status</th>
      <th *ngIf="user?.isAdmin">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data?.name }}</td>
      <td>{{ data?.headName }}</td>
      <td>{{ data?.city }}</td>
      <td>{{ data?.registraionDate | date: "mediumDate" }}</td>
      <td>{{ data?.registrationNumber }}</td>
      <td>{{ data?.phone }}</td>
      <td>{{ data?.description }}</td>
      <th>
        <span *ngIf="data.activationStatus; else no">
          Approved
        </span>
        <ng-template #no>Pending</ng-template>
      </th>
      <td *ngIf="user?.isAdmin">
        <a (click)="approve(data.id)">
          Approve
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>
