<nz-table #basicTable [nzData]="dataSet" [nzLoading]="loading">
  <thead>
    <tr>
      <th>Madrasa Name</th>
      <th>Name</th>
      <th>Email</th>
      <th>Location</th>
      <th>Bio</th>
      <th>Phone</th>
      <th>Status</th>
      <th *ngIf="user?.userType =='head'">Action</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td *ngIf="data.madrasa | async as mad">{{ mad?.name }}</td>
      <td>{{ data?.name }}</td>
      <td>{{ data?.email }}</td>
      <td>{{ data?.city }}</td>
      <td>{{ data?.bio }}</td>
      <td>{{ data?.phone }}</td>
      <th>
        <span *ngIf="data.activationStatus != 'pending'; else no">
          Approved
        </span>
        <ng-template #no>Pending</ng-template>
      </th>
      <td *ngIf="user?.userType == 'head'">
        <a (click)="approve(data)">
          Approve
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>
